<section class="about-us">
    <div class="about-us-div">
        <div class="container about-us-text-div">
            <div class="about-us-div-nophoto">
                <h2 class="about-us-title">About us</h2>
                <div class="about-us-p-div">
                    <p class="about-us-text">Welcome to our premium watch collection, where luxury and style meet
                        functionality
                        and precision. Our
                        selection of timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring
                        that
                        you'll
                        always have a reliable and stylish accessory on your wrist.</p>
                    <p class="about-us-text-2">At our premium watch collection, we believe that a watch is more than
                        just a
                        timekeeping device – it's a
                        statement piece that reflects your personality and style. So why settle for anything less than
                        the best?
                        Browse our collection today and discover the perfect watch for you.</p>
                </div>
            </div>

            <div class="about-us-gif-div">
                <img src="../img/watchspot.gif" alt="Watch spot" class="about-us-gif" width="335" height="365"
                    style="object-fit: cover;">

            </div>
        </div>
    </div>
</section>