<footer class="footer-container container">
  <div class="footer-wrapper">
    <div class="footer-logo">
      <a class="footer-logo-link" href="">
        <picture>
          <source
            srcset="
              /img/footer-logo/logo-desktop-footer.png    1x,
              /img/footer-logo/logo-desktop-footer@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/footer-logo/logo-desktop-mobile.png   1x,
              /img/footer-logo/logo-mobile-footer@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="/img/footer-logo/logo-desktop-footer.png" alt="logo" />
        </picture>
      </a>
      <address class="footer-address">
        <ul class="footer-address-item">
          <li class="footer-address-contacts-phone">
            <a class="footer-contacts-phone" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-address-contacts-address">
            <a
              class="footer-contacts-address"
              href="https://goo.gl/maps/Myhvmn3DDamLaK9R7"
              target="_blank"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-nav">
      <ul class="footer-nav-menu">
        <li class="footer-nav-items-pages">
          <a class="footer-nav-link" href="#about">About us</a>
        </li>
        <li class="footer-nav-items-pages">
          <a class="footer-nav-link" href="#catalog">Catalog</a>
        </li>
        <li class="footer-nav-items-pages">
          <a class="footer-nav-link" href="#sale">Sale</a>
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <ul class="footer-social-list">
        <li class="footer-social-list-item">
          <a
            class="footer-social-list-link"
            href="https://uk-ua.facebook.com/"
            target="_blank"
          >
            <svg class="footer-social-list-icon">
              <use href="/public/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-list-item">
          <a
            class="footer-social-list-link"
            href="https://www.instagram.com"
            target="_blank"
          >
            <svg class="footer-social-list-icon">
              <use href="/public/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-list-item">
          <a
            class="footer-social-list-link"
            href="https://www.youtube.com/"
            target="_blank"
          >
            <svg class="footer-social-list-icon">
              <use href="/public/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copiright">
    <p class="footer-copiright-text">
      &copy;2022 The Watch Spot. All rights reserved.
    </p>
    <div class="footer-user-policy">
      <a class="footer-policy" href="">Privacy Policy</a>
      <a class="footer-service" href="">Terms of Service</a>
    </div>
  </div>
</footer>
