<section class="new-watches-section">
  <div class="container">
    <h2 class="new-watches-title">New watches</h2>
    <h3 class="new-watches-subtitle">
      Green And Bronze—The Match Made In Heaven
    </h3>
    <ul class="new-watches-list">
      <li class="new-watches-item">
        <picture>
          <source
            srcset="
              ./img/new-watches/hand-watch-desk-1x.jpg 1x,
              ./img/new-watches/hand-watch-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
            width="576"
          />
          <source
            srcset="
              ./img/new-watches/hand-watch-tab-1x.jpg 1x,
              ./img/new-watches/hand-watch-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="342"
          />
          <source
            srcset="
              ./img/new-watches/hand-watch-mob-1x.jpg 1x,
              ./img/new-watches/hand-watch-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="335"
          />
          <img
            src="./img/new-watches/hand-watch-mob-1x.jpg"
            alt="a watch on the hand"
            width="335"
          />
        </picture>
      </li>
      <li class="new-watches-item">
        <picture>
          <source
            srcset="
              ./img/new-watches/black-watch-desk-1x.jpg 1x,
              ./img/new-watches/black-watch-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
            width="576"
          />
          <source
            srcset="
              ./img/new-watches/black-watch-tab-1x.jpg 1x,
              ./img/new-watches/black-watch-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="342"
          />
          <source
            srcset="
              ./img/new-watches/black-watch-mob-1x.jpg 1x,
              ./img/new-watches/black-watch-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="335"
          />
          <img
            src="./img/new-watches/black-watch-mob-1x.jpg"
            alt="a black watch"
            width="335"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
