<section class="sale">
    <div class="container">
        <h2 class="sale__section-title"></h2>
        <ul class="sale__preview">
            <li class="sale__icon"></li>
            <li class="sale__icon"></li>
            <li class="sale__icon"></li>
            <li class="sale__icon"></li>
        </ul>
        <div class="sale__main-icon"></div>
        <div class="sale__information">
            <h3 class="sale__title"></h3>
            <p></p>
            <h4 class="sale__description"></h3>
            <p></p>
            <h4 class="sale__details"></h3>
            <p></p>
        </div>
    </div>
</section>