<section class="sale">
    <div class="container">
        <h2 class="sale__section-title">Sale</h2>
        <div class="auxiliary-container">
            <div class="sale-flex">
                <ul class="sale__preview">
                    <li class="sale__icon">
                        <picture>
                            <sourse
                                srcset="./img/sale-icon/tab-desk/sale-icon1-tab-desk-1x.jpg 1x, 
                                ./img/sale-icon/tab-desk/sale-icon1-tab-desk-1x.jpg 2x,"
                                media="(min-width: 768px)" 
                            />
                            <sourse
                                srcset="./img/sale-icon/mobile/sale-icon1-mob-1x.jpg 1x, 
                                ./img/sale-icon/mobile/sale-icon1-mob-1x.jpg 2x,"
                                media="(max-width: 767px)" 
                            />
                            <img src="../img/sale-icon/tab-desk/sale-icon1-tab-desk-1x.jpg" alt="small clock" width="146"
                                height="146" />
                        </picture>
            
            
                    </li>
                    <li class="sale__icon">
                        <picture>
                            <sourse
                                srcset="./img/sale-icon/tab-desk/sale-icon2-tab-desk-1x.jpg 1x, 
                                ./img/sale-icon/tab-desk/sale-icon2-tab-desk-1x.jpg 2x,"
                                media="(min-width: 768px)" />
                            <sourse
                                srcset="./img/sale-icon/mobile/sale-icon2-mob-1x.jpg 1x, 
                                ./img/sale-icon/mobile/sale-icon2-mob-1x.jpg 2x,"
                                media="(max-width: 767px)" />
                            <img src="../img/sale-icon/tab-desk/sale-icon2-tab-desk-1x.jpg" alt="small clock" width="146"
                                height="146" />
                        </picture>
                    </li>
                    <li class="sale__icon">
                        <picture>
                            <sourse
                                srcset="./img/sale-icon/tab-desk/sale-icon3-tab-desk-1x.jpg 1x, 
                                ./img/sale-icon/tab-desk/sale-icon3-tab-desk-1x.jpg 2x,"
                                media="(min-width: 768px)" />
                            <sourse
                                srcset="./img/sale-icon/mobile/sale-icon3-mob-1x.jpg 1x, 
                                ./img/sale-icon/mobile/sale-icon3-mob-1x.jpg 2x,"
                                media="(max-width: 767px)" />
                            <img src="../img/sale-icon/tab-desk/sale-icon3-tab-desk-1x.jpg" alt="small clock" width="146"
                                height="146" />
                        </picture>
                    </li>
                    <li class="sale__icon">
                        <picture>
                            <sourse
                                srcset="./img/sale-icon/tab-desk/sale-icon4-tab-desk-1x.jpg 1x,
                                         ./img/sale-icon/tab-desk/sale-icon4-tab-desk-1x.jpg 2x,"
                                media="(min-width: 768px)" />
                            <sourse
                                srcset="./img/sale-icon/mobile/sale-icon4-mob-1x.jpg 1x, 
                                        ./img/sale-icon/mobile/sale-icon4-mob-1x.jpg 2x,"
                                media="(max-width: 767px)" />
                            <img src="../img/sale-icon/tab-desk/sale-icon4-tab-desk-1x.jpg" alt="small clock" width="146"
                                height="146" />
                        </picture>
                    </li>
                </ul>
                <div class="sale__main-icon">
                    <picture>
                        <sourse
                            srcset="./img/sale-icon/tab-desk/sale-main-icon-tab-desk-1x.jpg 1x, 
                                ./img/sale-icon/tab-desk/sale-main-icon-tab-desk-1x.jpg 2x,"
                            media="(min-width: 768px)" />
                        <sourse
                            srcset="./img/sale-icon/mobile/sale-main-icon-mob-1x.jpg 1x, 
                                ./img/sale-icon/mobile/sale-main-icon-mob-1x.jpg 2x,"
                            media="(max-width: 767px)" />
                        <img src="../img/sale-icon/tab-desk/sale-main-icon-tab-desk-1x.jpg" alt="small clock" width="406"
                            height="614" />
                    </picture>
                </div>
            </div>
            <div class="sale__information">
            
                <h3 class="sale__title">Greenlane Watch By Police For MenHT</h3>
                <p class="sale__price">
                    Product tag: PEWJK2227003
                </p>
                <div class="price-mar">
                    <span class="promotional-price">€700</span>
                    <span class="current-price">€1000</span>
                </div>
            
            
                <div class="sale-info-border">
                    <h4 class="sale__description">Description</h4>
                </div>
                <p class="sale__text">
                    Richly detailed with an understated design - the Police Men’s Greenlane watch features a versatile multifunction
                    design
                    that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial. The
                    timepiece
                    exhibits a contrast through a black IP bracelet with matching crown and pushers.
                </p>
            
            
                <div class="sale-info-border">
                    <h4 class="sale__details">DETAILS & FEATURESTION</h4>
                </div>
                <p class="sale__text">
                    Gender: man
                    Size: 46x54.5mm
                    Case Colour: Steel
                    Band Material: Metal
                    Case Material: Metal
                    Features: Multifunction
                    Water Resistant: 5 (ATM)
                    Band Colour: Steel
                </p>
            
            
            
            </div>
        </div>
    </div>
</section>