<section class="sale">
    <div class="container">
        <h2 class="sale__section-title">Sale</h2>
        <ul class="sale__preview">
            <li class="sale__icon">
                <img srcset=""
                    src=""
                    alt="small clock"
                    width="80"
                    height="80"
                />
            </li>
            <li class="sale__icon">
                <img srcset="" 
                    src="" 
                    alt="small clock" 
                    width="80" 
                    height="80" 
                />
            </li>
            <li class="sale__icon">
                <img srcset="" 
                    src="" 
                    alt="small clock" 
                    width="80" 
                    height="80" 
            />
            </li>
            <li class="sale__icon">
                <img srcset="" 
                    src="" 
                    alt="small clock" 
                    width="80" 
                    height="80" 
            />
            </li>
        </ul>
        <div class="sale__main-icon">
            <img srcset="" 
                src="" 
                alt="big clock" 
                width="235" 
                height="350" 
            />
        </div>
        <div class="sale__information">
            <div>
                <h3 class="sale__title">Greenlane Watch By Police For MenHT</h3>
                <p>
                    Product tag: PEWJK2227003
                    <span class="promotional price current price">€700</span>
                    <span class="current price">€1000</span>
                </p>
            </div>

            <div>
                <h4 class="sale__description">Description</h3>
                    <p>
                        Richly detailed with an understated design - the Police Men’s Greenlane watch features a versatile multifunction
                        design
                        that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial. The
                        timepiece
                        exhibits a contrast through a black IP bracelet with matching crown and pushers.
                    </p>
            </div>
            <div>
                <h4 class="sale__details">DETAILS & FEATURESTION</h3>
                    <p>
                        Gender: man
                        Size: 46x54.5mm
                        Case Colour: Steel
                        Band Material: Metal
                        Case Material: Metal
                        Features: Multifunction
                        Water Resistant: 5 (ATM)
                        Band Colour: Steel
                    </p>
            </div>
        </div>
    </div>
</section>