.new-watches-section {
  background-color: #fbfbfb;
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .new-watches-section {
    padding: 64px 0;
  }
}

@media screen and (min-width: 1280px) {
  .new-watches-section {
    background-color: #ffffff;
    padding: 80px 0;
  }
}

.new-watches-container {
  width: 100%;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .new-watches-container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .new-watches-container {
    max-width: 1280px;
    padding: 0 52px;
  }
}

.new-watches-title {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.17;
  letter-spacing: 0.06em;
  color: rgba(20, 20, 20, 0.4);
  margin-bottom: 8px;
}

.new-watches-subtitle {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #141414;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .new-watches-subtitle {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #1e2827;
    width: 448px;
  }
}

@media screen and (min-width: 1280px) {
  .new-watches-subtitle {
    margin-bottom: 80px;
  }
}

.new-watches-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .new-watches-list {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .new-watches-list {
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .new-watches-item {
    flex-basis: calc((100% - 20px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .new-watches-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
